.facts{
    display: flex;
    width: 634px;
    padding: 20px 2px;
    justify-content: center;
    align-items: center;
    gap: 90px;
    
}
.fact-item {
    display: flex;
    width: 148px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.fact-item-h2 {
    color: #ff8dad;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
  
}
.fact-item-p {
    color: #ff8dad;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;

}




